.tabContainer {
    display: flex;
    justify-content: center;
    color: #fff;
}
.tabContainer ul {
    display: flex;
}

.tabContainer  li {
    margin: 3rem 2rem;
    cursor: pointer;
}

.tabContainer li.active {
    border-bottom: 4px solid #ccc;
  }