.section {
    display: flex;
    justify-content: center;
}


.emptyData{
    color: #888;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
}


.creditContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    max-width: 90%;
    width: 100%;
    margin: 100px auto;
}

.image {
    border-radius: 30px;
    width: 10rem;
}

.creditContainer h5 {
    text-align: center;
    font-weight: 600;
}

.name {
    margin-top: 1rem;
    color: #d9d9d9;
    font-size: 16px;
    width: 10rem;
}

.character {
    font-size: 15px;
    color: #888;
    margin-bottom: 1rem;
    width: 10rem;
}