.section {
    display: flex;
    justify-content: center;
}

.container {
    margin: 2rem 0;
}

.container h4{
    font-size: 25px;
    margin-bottom: 1rem;
}

.creditContainer {
    display: flex;
    flex-wrap: wrap;
}

.image {
    border-radius: 30px;
    width: 10rem;
    margin: 0 10px;
}

.creditContainer h5 {
    text-align: center;
    font-weight: 600;
}

.name {
    margin-top: 1rem;
    color: #d9d9d9;
    font-size: 16px;
    width: 10rem;
}

.character {
    font-size: 15px;
    color: #888;
    margin-bottom: 1.5rem;
    width: 10rem;
}